
body {
    /* background-image: url('back.png'); */
    background-color: #27374d;
    background-repeat: no-repeat;
    background-size: cover;
}
/* h1 {
    text-shadow: 2px 2px white;
} */

h2 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 3vw;
    font-weight: 400;
    text-shadow: 2px 2px slategray;
    font-style: italic;
}
h3 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
}

h4 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
}

/* a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    font-weight: 200;
} */

.blue {
    background-color: #9db2bf;
}

.lightBlue {
    background-color: #27496d;
}

.grey {
    background-color: #dde6ed;
}

.white {
    background-color: #00a8cc;
}

#search {
    padding-top: 10px;
    padding-bottom: 10px;
} 

#searchInput {
    margin-top: 6px;
}

#title {
    font-size: 100%;
}

#stats {
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
}

#current {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 3vw;
    font-weight: 400;
    width: 50%;
    padding-left: 2%;
}

#condition {
    font-size: 2.5vw;
    font-family: Geneva, Verdana, sans-serif;
}

#img {
    width: 20%;
    height: auto;
}

#conditionImg {
    width: 50%;
    padding-top: 0.8%;
}

#currentInfo {
    padding-bottom: 4%;
}

#currentTemp {
    width: 12.5%;
}
#feelTemp {
    width: 12.5%;
}

#humidity {
    width: 12.5%;
}

#wind {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
}

#space1 {
    width: 10%;
}

#space2 {
    width: 10%;
}

#space3 {
    width: 10%;
}

#space4{
    width: 10%;
}

#space5 {
    width: 10%;
}

#day1 {
    width: 18.28%;
}

#day2 {
    width: 18.28%;
}

#day3 {
    width: 18.28%;
}

#forecast {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}

#forecastSpace1 {
    width: 11.28%;
}

#forecastSpace2 {
    width: 11.28%;
}

#forecastSpace3 {
    width: 11.28%;
}

#forecastSpace4 {
    width: 11.28%;
}

#forecastTitle {
    padding-bottom: 5%;
}

#tempLine {
    padding-left: 50%;
    font-size: 2.5vw;
    font-weight: 300;
}

#feelsLike {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-left: 46%;
}