
body {
    /* background-image: url('back.png'); */
    background-color: #eaeaea;
    background-repeat: no-repeat;
    background-size: cover;
}
/* h1 {
    text-shadow: 2px 2px white;
} */

h2 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
    width: 50%;
    padding-left: 2%;
}
h3 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
}

h4 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
}

/* a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    font-weight: 200;
} */

.headerColor {
    background-color: #cf6747;
}

.sectionColor {
    background-color: #8ba0a4;
}

.dataColor {
    background-color: #183e4b;
}

.hourTime {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 1vw;
    font-weight: 300;
}

.hourTemp {
    padding-left: 5%;
}

.hourImg {
    padding-left: 2%;
}

.hourWind {
    padding-left: 5%;
}

#search {
    padding-top: 10px;
    padding-bottom: 10px;
} 

#searchInput {
    margin-top: 6px;
}

#title {
    font-size: 100%;
}

#stats {
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
}

#current {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
    width: 50%;
    padding-left: 2%;
}

#condition {
    font-size: 2.5vw;
    font-family: Geneva, Verdana, sans-serif;
}

#img {
    width: 20%;
    height: auto;
}

#conditionImg {
    width: 50%;
    padding-top: 0.8%;
}

#currentInfo {
    padding-bottom: 4%;
}

#currentTemp {
    width: 12.5%;
}
#feelTemp {
    width: 12.5%;
}

#humidity {
    width: 12.5%;
}

#wind {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-left: 9%;
}

#space1 {
    width: 10%;
}

#space2 {
    width: 10%;
}

#space3 {
    width: 10%;
}

#space4{
    width: 10%;
}

#space5 {
    width: 10%;
}

#day1 {
    width: 18.28%;
}

#day2 {
    width: 18.28%;
}

#day3 {
    width: 18.28%;
}

#forecast {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}

#forecastSpace1 {
    width: 11.28%;
}

#forecastSpace2 {
    width: 11.28%;
}

#forecastSpace3 {
    width: 11.28%;
}

#forecastSpace4 {
    width: 11.28%;
}

#forecastTitle {
    padding-bottom: 5%;
}

#tempLine {
    padding-left: 50%;
    font-size: 2.5vw;
    font-weight: 300;
}

#feelsLike {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-left: 46%;
    padding-top: 0.6%;
}

#today {
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;   
}

#todayTemps {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 3vw;
    font-weight: 400;
    width: 50%;
    padding-left: 2%;
}

#todayImg {
    width: 50%;
    padding-top: 0.8%;
}

#temps1 {
    font-size: 2.5vw;
    font-weight: 300;
    padding-left: 10%;
}

#img1 {
    width: 20%;
    height: auto;
}

#condition1 {
    font-size: 2.5vw;
    font-family: Geneva, Verdana, sans-serif;
}

#lowHigh {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-left: 10.5%;
}

#high {
    padding-left: 44.5%;
}

#maxTemp1 {
    padding-left: 30%;
}

#rainChance {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
}

#todaySun {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-top: 1%;
    padding-left: 7%;
}

#sunrise1 {
    font-size: 1vw;
    padding-right: 9.5%;
}

#sunset1 {
    font-size: 1vw;
    padding-right: 27%;
}

#uv1 {
    font-size: 1.2vw;
}

#rain1 {
    font-size: 1.2vw;
}

#percent {
    font-size: 1.2vw;
}