html {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    /* background-image: url('back.png'); */
    background-color: #e7dec8;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
    width: 50%;
    padding-left: 2%;
}
h3 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
}

h4 {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
}

th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
}

/* a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
} */

.headerColor {
    background-color: #30475e;
}

.sectionColor {
    background-color: #cbaf87;
}

.dataColor {
    background-color: #7e8a97;
}.alertColor {
    background-color: red;
}

.hourTime {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7vw;
    font-weight: 500;;
}

.timeWidth {
    width: 15%;
}

.condWidth {
    width: 25%;
}

.tempWidth {
    width: 20%;
}

.windWidth {
    width: 40%;
}

/* .hourTemp {
    padding-left: 5%;
} */

.hourImg {
    width: 30%;
    height: auto;
}

/* .hourWind {
    padding-right: 30%;
} */

#alertSection {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    padding-left: 1%;

}

#titleHome {
    padding-top: 10%;
    padding-bottom: 10%;
}

#home {
    padding-left: 15%;
    padding-right: 15%;
}

#homeDesc {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#descSearch {
   
}

#desc {
    width: 33%;
}

#search {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
} 

#searchInput {
    margin-top: 6px;
}

#searchSection {
    width: 33%;
}

#locationSection {
    width: 33%;
}

#title {
    font-size: 100%;
}

#stats {
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
}

#current {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
    width: 50%;
    padding-left: 2%;
}

#condition {
    font-size: 2.5vw;
    font-family: Geneva, Verdana, sans-serif;
}

#img {
    width: 20%;
    height: auto;
}

#conditionImg {
    width: 50%;
    padding-top: 0.8%;
}

#currentInfo {
    padding-bottom: 4%;
}

#currentTemp {
    width: 12.5%;
}
#feelTemp {
    width: 12.5%;
}

#humidity {
    width: 12.5%;
}

#wind {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-left: 9%;
}


#day1 {
    width: 25%;
}

#day2 {
    width: 25%;
}

#day3 {
    width: 25%;
}

#forecast {
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    padding-bottom: 5%;
}

#forecastSpace1 {
    width: 15%;
}

#forecastSpace3 {
    width: 15%;
}

#forecastSpace4 {
    width: 15%;
}

#forecastTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
    padding-left: 2%;
    padding-bottom: 3%;
}

#tempLine {
    padding-left: 50%;
    font-size: 2.5vw;
    font-weight: 300;
}

#feelsLike {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-left: 46%;
    padding-top: 0.6%;
}

#today {
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 12%;   
}

#todayTemps {
    font-family: Geneva, Verdana, sans-serif;
    font-size: 3vw;
    font-weight: 400;
    width: 50%;
    padding-left: 2%;
}

#todayImg {
    width: 50%;
    padding-top: 0.8%;
}

#temps1 {
    font-size: 2.5vw;
    font-weight: 300;
    padding-left: 10%;
}

#img1 {
    width: 20%;
    height: auto;
}

#condition1 {
    font-size: 2.5vw;
    font-family: Geneva, Verdana, sans-serif;
}

#lowHigh {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-left: 10.5%;
}

#high {
    padding-left: 44.5%;
}

#maxTemp1 {
    padding-left: 30%;
}

#rainChance {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
}

#todaySun {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
    font-weight: 200;
    padding-top: 1%;
    padding-left: 7%;
}

#sunrise1 {
    font-size: 1vw;
    padding-right: 9.5%;
}

#sunset1 {
    font-size: 1vw;
    padding-right: 27%;
}

#uv1 {
    font-size: 1.2vw;
}

#rain1 {
    font-size: 1.2vw;
}

#percent {
    font-size: 1.2vw;
}

#hourButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
}

#map { 
   top: 3vw;
   left: 12vw;
  width: 75vw;
  height: 40vw;
}

/* #pointer-data {
  z-index: 1;
  font-size: 20px;
  font-weight: 900;
  margin: 27px 0px 0px 10px;
  color: 
#fff;
  text-shadow: 0px 0px 10px 
#0007;
top: 20%;
bottom: 20%;
} */

#time-info {
  width: 60vw;
  z-index: 1;
  margin: 10px;
  text-shadow: 0px 0px 5px black;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
}

#time-text {
  font-size: 12px;
  font-weight: 600;
}
/* #mapSection {
    width: 50%;
    height: auto;
    display: block;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
} */